<template>
  <div id="app">
    <AppIndex></AppIndex>
  </div>
</template>

<script>
import AppIndex from './components/AppIndex.vue'

export default {
  name: 'app',
  components: {
    AppIndex
  }
}
</script>

<style>

</style>
